$color-primary-300: #{"var(--color-primary-300)"};
$color-primary-400: #{"var(--color-primary-400)"};
$color-primary-500: #{"var(--color-primary-500)"};
$color-primary-800: #{"var(--color-primary-800)"};

$color-secondary-50: #{"var(--color-secondary-50)"};
$color-secondary-100: #{"var(--color-secondary-100)"};
$color-secondary-200: #{"var(--color-secondary-200)"};
$color-secondary-500: #{"var(--color-secondary-500)"};
$color-secondary-800: #{"var(--color-secondary-800)"};

$color-success: #{"var(--color-success)"};
$color-danger: #{"var(--color-danger)"};
$color-background: #{"var(--color-background)"};
$color-surface: #{"var(--color-surface)"};

$project-colors: (
  "primary-300": #9f75ff,
  "primary-400": #9164fa,
  "primary-500": #8257e5,
  "primary-800": #6f48c9,
  "secondary-50": #f7f8fa,
  "secondary-100": #e6e8eb,
  "secondary-200": #afb2b1,
  "secondary-500": #808080,
  "secondary-800": #494d4b,
  "success": #04d361,
  "danger": #cf6679,
  "background": #e5e5e5,
  "surface": #ffffff,
);

$project-colors-theme-dark: (
  "primary-300": #9f75ff,
  "primary-400": #9164fa,
  "primary-500": #8257e5,
  "primary-800": #6f48c9,
  "secondary-50": #f7f8fa,
  "secondary-100": #e6e8eb,
  "secondary-200": #afb2b1,
  "secondary-500": #808080,
  "secondary-800": #494d4b,
  "success": #28a745,
  "danger": #cf6679,
  "background": #e5e5e5,
  "surface": #ffffff,
);
