$large-desktop: "large-desktop";
$desktop: "desktop";
$laptop: "laptop";
$tablet: "tablet";
$mobile: "mobile";
$tiny-mobile: "tiny-mobile";

$media-desktop: 1400;
$media-laptop: 1270;
$media-tablet: 768;
$media-mobile: 480;
$media-tiny-mobile: 420;

@mixin gt-mobile {
  @media screen and (min-width: $media-mobile * 1px + 1) {
    @content;
  }
}

@mixin gt-tablet {
  @media screen and (min-width: $media-tablet * 1px + 1) {
    @content;
  }
}

@mixin gt-laptop {
  @media screen and (min-width: $media-laptop * 1px + 1) {
    @content;
  }
}

@mixin lt-tablet {
  @media screen and (max-width: $media-tablet * 1px - 1) {
    @content;
  }
}

@mixin lt-desktop {
  @media screen and (max-width: $media-desktop * 1px - 1) {
    @content;
  }
}

@mixin tiny-mobile {
  @media screen and (max-width: $media-tiny-mobile * 1px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: $media-tiny-mobile * 1px + 1) and (max-width: $media-mobile * 1px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $media-mobile * 1px + 1) and (max-width: $media-tablet * 1px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: $media-tablet * 1px + 1) and (max-width: $media-laptop * 1px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $media-laptop * 1px + 1) {
    @content;
  }
}

@mixin large-desktop {
  @media screen and (min-width: $media-desktop * 1px + 1) {
    @content;
  }
}

@mixin medias($sizes...) {
  @each $size in $sizes {
    @if $size == "tiny-mobile" {
      @include tiny-mobile() {
        @content;
      }
    }
    @if $size == "mobile" {
      @include mobile() {
        @content;
      }
    }
    @if $size == "tablet" {
      @include tablet() {
        @content;
      }
    }
    @if $size == "laptop" {
      @include laptop() {
        @content;
      }
    }
    @if $size == "desktop" {
      @include desktop() {
        @content;
      }
    }
    @if $size == "large-desktop" {
      @include large-desktop() {
        @content;
      }
    }
  }
}
