@import "functions";
@import "colors";
@import "media";
@import "variables";
@import "mixins";

.logo {
  margin-right: rem(33.18);

  @include medias($tiny-mobile, $mobile) {
    width: 120px;
    margin-right: 0;
  }

  &--angular {
    @include medias($tiny-mobile, $mobile) {
      display: none;
    }
  }
}

.text {
  font-size: rem(14);
  line-height: rem(17);
  align-self: center;
  @include clamp(font-size, rem(12), 3vw, rem(16));
  @include clamp(line-height, rem(12), 3vw, rem(17));
  font-family: $font-primary;
  font-weight: 500;
  color: $color-text-on-surface;

  &.date {
    @media screen and (max-width: 830px) {
      display: none;
    }
  }
}

mat-toolbar {
  height: rem(104);
  background-color: $color-surface;
  padding: rem(32 64);
  justify-content: space-between;

  @include medias($tiny-mobile, $mobile) {
    padding: rem(20 32);
  }

  div {
    display: flex;
    justify-content: center;
  }

  mat-divider {
    height: rem(24);
    align-self: center;
    margin-right: rem(32);

    @include medias($tiny-mobile, $mobile) {
      display: none;
    }
  }
}
