@import "functions";
@import "colors";
@import "media";
@import "variables";
@import "mixins";

mat-toolbar {
  height: rem(104);
  background-color: $color-surface;
  padding: rem(32 64);
  justify-content: space-between;

  @include medias($tiny-mobile, $mobile) {
    padding: rem(20 32);
  }

  @media screen and (max-width: 840px) {
    display: grid;
    grid-template-rows: 1fr min-content min-content;
    row-gap: 5px;
    height: auto;
  }

  .logo {
    margin-right: rem(33.18);

    @include medias($tiny-mobile, $mobile) {
      margin-right: 0;
      margin-bottom: rem(5);
    }

    &--angular {
      order: 1;
      @include medias($tiny-mobile, $mobile) {
        display: none;
      }
    }

    &--podcast {
      cursor: pointer;
    }
  }

  .date {
    grid-row: 3;
  }

  .text {
    align-self: center;
    @include clamp(font-size, rem(12), 3vw, rem(16));
    @include clamp(line-height, rem(12), 3vw, rem(17));
    font-family: $font-primary;
    font-weight: 500;
    color: $color-text-on-surface;

    &:first-of-type {
      flex: 1;
    }
  }

  img {
    grid-row: 1;
  }

  div {
    display: flex;
    justify-content: center;
  }

  mat-divider {
    height: rem(24);
    align-self: center;
    margin-right: rem(32);

    @media screen and (max-width: 840px) {
      display: none;
    }
  }

  mat-slide-toggle {
    order: 2;
  }
}
