<div class="card">
  <img [src]="episode.thumbnail" alt="Thumbnail" class="card__image" />
  <div class="card__info">
    <a [routerLink]="['episode', episode.id]">
      <h3
        #title
        [matTooltip]="title.innerText"
        [matTooltipPosition]="'above'"
        class="card__title"
      >
        {{ episode.title }}
      </h3>
    </a>
    <div class="card__details">
      <p class="card__members">{{ episode.members }}</p>
      <p class="card__date-duration">
        <span class="card__date">{{ currentDate | date: "d MMMM YY" }}</span>
        <span>{{ episode.file.duration * 1000 | date: "H:mm:ss":"UTC" }}</span>
      </p>

      <button class="card__play-button" (click)="playEvent.emit(episode)">
        <img src="assets/icons/play-green.svg" alt="Play Button Icon" />
      </button>
    </div>
  </div>
</div>
