@import "functions";
@import "colors";
@import "mixins";

:host {
  flex-grow: 1;
}

$max-size-text: rem(220);

.card {
  position: relative;
  display: flex;
  width: 100%;
  max-width: rem(432);
  height: rem(140);
  background-color: #ffffff;
  border: 1px solid #e6e8eb;
  border-radius: 24px;
  padding: rem(20 20 20 20);

  &__info {
    margin-left: rem(16);
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $color-secondary-800;

    margin: rem(10 0);

    white-space: nowrap;
    max-width: $max-size-text;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__members {
    display: block;
    max-width: rem(180);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__date-duration {
    display: flex;
  }

  &__image {
    width: rem(96);
    height: rem(96);
    border-radius: 16px;
    object-fit: cover;
  }

  &__date {
    display: flex;
    align-items: center;
    &::after {
      content: "";
      margin: rem(0 8);
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: #dddddd;
      border-radius: 50%;
    }
  }

  &__play-button {
    @include flex-center;
    width: rem(40);
    height: rem(40);
    background-color: white;
    border: 1px solid $color-secondary-100;
    border-radius: rem(10);
    position: absolute;
    right: rem(25);
    bottom: rem(25);
  }
}
