@import "functions";
@import "colors";
@import "mixins";

:host {
  flex-grow: 1;
}

$max-size-text: rem(220);

.card {
  position: relative;
  display: flex;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #e6e8eb;
  border-radius: 24px;
  padding: rem(20 20 20 20);
  align-items: center;

  @include medias($tiny-mobile, $mobile) {
    align-items: center;
  }

  &__info {
    margin-left: rem(16);
  }

  &__title {
    color: $color-secondary-800;

    @include clamp(font-size, rem(12), 3vw, rem(16));
    @include clamp(line-height, rem(15), 3vw, rem(20));
    font-weight: 600;

    @include lt-tablet {
      width: 80%;
    }

    margin: rem(10 0);

    &:hover {
      text-decoration: underline;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    font-family: $font-primary;
    color: $color-text-on-surface;

    @include clamp(font-size, rem(12), 3vw, rem(14));
    @include clamp(line-height, rem(15), 3vw, rem(17));
  }

  &__members {
    display: block;
    max-width: 85%;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &__date-duration {
    display: flex;
  }

  &__image {
    @include size(96);
    border-radius: 16px;
    object-fit: cover;

    @include medias($tiny-mobile, $mobile) {
      @include size(86);
    }

    @media screen and (max-width: 390px) {
      @include size(60);
    }
  }

  &__date {
    display: flex;
    align-items: center;

    &::after {
      content: "";
      margin: rem(0 8);
      display: inline-block;
      @include size(4);
      background-color: $color-surface;
      border-radius: 50%;
    }
  }

  &__play-button {
    position: absolute;
    @include flex-center;
    @include size(40);
    background-color: white;
    border: 1px solid $color-secondary-100;
    border-radius: rem(10);
    right: rem(25);
    bottom: rem(25);
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}
