<div class="player">
  <h3 class="player__header">
    <img
      class="player__header__image"
      src="../../../assets/icons/playing.svg"
      alt="Playing Icon"
    />
    <span class="player__header__text">Tocando agora</span>
  </h3>

  <div class="player__preview">
    <span class="player__preview__text">Selecione um podcast para ouvir</span>
  </div>

  <div class="player__actions">
    <div class="player__actions__progress">
      <span>00:00</span>
      <!-- <mat-progress-bar mode="determinate" value="40"></mat-progress-bar> -->
      <mat-slider></mat-slider>
      <span>00:00</span>
    </div>

    <div class="player__buttons">
      <button mat-icon-button>
        <img src="../../../assets/icons/shuffle.svg" alt="" />
      </button>
      <button mat-icon-button>
        <img src="../../../assets/icons/play-previous.svg" alt="" />
      </button>
      <button mat-icon-button aria-label="Play Icon Button">
        <img src="../../../assets/icons/play.svg" alt="" />
      </button>
      <button mat-icon-button>
        <img src="../../../assets/icons/play-next.svg" alt="" />
      </button>
      <button mat-icon-button>
        <img src="../../../assets/icons/repeat.svg" alt="" />
      </button>
    </div>
  </div>
</div>
