<div
  class="player"
  *ngIf="{ currentEpisode: playerService.currentEpisode$ | async } as context"
>
  <div class="player__header">
    <h3>
      <img
        class="player__header__image"
        src="assets/icons/playing.svg"
        alt="Playing Icon"
      />
      <span class="player__header__text">Tocando agora</span>
    </h3>
  </div>

  <div class="player__preview">
    <img
      *ngIf="context.currentEpisode; else noPodcast"
      class="player__preview__image"
      [src]="context.currentEpisode?.thumbnail"
      alt=""
    />

    <ng-template #noPodcast>
      <span class="player__preview__text">
        Selecione um podcast para ouvir</span
      >
    </ng-template>
  </div>

  <div *ngIf="context.currentEpisode" class="player__details">
    <h1 class="player__details__title">{{ context.currentEpisode.title }}</h1>
    <p class="player__details__members">{{ context.currentEpisode.members }}</p>
  </div>

  <div class="player__actions">
    <div
      *ngIf="{
        currentDuration: playerService.duration$ | async,
        timeElapsed: playerService.timeElapsed$ | async
      } as timeContext"
      class="player__actions__progress"
    >
      <span>{{ timeContext.timeElapsed | hour }}</span>
      <mat-slider
        [disabled]="!context.currentEpisode"
        (input)="sliderThumbChange($event)"
        #slider
        [max]="timeContext.currentDuration"
        [value]="timeContext.timeElapsed"
        step="0.1"
      ></mat-slider>
      <span>{{ timeContext.currentDuration | hour }}</span>
    </div>

    <div
      class="player__buttons"
      *ngIf="{
        hasNext: playerService.hasNext$ | async,
        hasPrevious: playerService.hasPrevious$ | async,
        isPlaying: playerService.isPlaying$ | async,
        isLooping: playerService.isLooping$ | async,
        isShuffling: playerService.isShuffling$ | async
      } as playerContext"
    >
      <button
        [class.active]="playerContext.isShuffling"
        (click)="setShuffling()"
        [disabled]="!playerContext.hasNext"
        mat-icon-button
      >
        <img src="assets/icons/shuffle.svg" alt="Shuffle Button" />
      </button>
      <button
        (click)="playPrevious()"
        [disabled]="!playerContext.hasPrevious"
        mat-icon-button
      >
        <img src="assets/icons/play-previous.svg" alt="Previous Button" />
      </button>
      <button
        [disabled]="!context.currentEpisode"
        [ngClass]="{ playing: playerContext.isPlaying }"
        (click)="togglePlay()"
        mat-icon-button
        class="play-pause"
      >
        <img
          *ngIf="playerContext.isPlaying; else pause"
          src="assets/icons/pause.svg"
          alt="Pause Button"
        />
        <ng-template #pause>
          <img src="assets/icons/play.svg" alt="Play Button" />
        </ng-template>
      </button>
      <button
        (click)="playNext()"
        [disabled]="!playerContext.hasNext"
        mat-icon-button
      >
        <img src="assets/icons/play-next.svg" alt="Next Button" />
      </button>
      <button
        [class.active]="playerContext.isLooping"
        [disabled]="!context.currentEpisode"
        (click)="setLooping()"
        mat-icon-button
      >
        <img src="assets/icons/repeat.svg" alt="Repeat Button" />
      </button>
    </div>
  </div>
</div>
