<main>
  <pd-header></pd-header>
  <router-outlet></router-outlet>
</main>
<aside>
  <pd-player></pd-player>
</aside>

<!-- <mat-sidenav-container>
  <mat-sidenav
    #sideNav
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    position="end"
    opened
  >
    <pd-player (closeSide)="closeSideNav()"></pd-player>
  </mat-sidenav>
  <mat-sidenav-content>
    <pd-header (openSide)="openSideNav()"></pd-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
