<div class="home">
  <h2>Últimos lançamentos</h2>
  <div class="home__last-pods">
    <pd-pod-card
      [episode]="episode"
      *ngFor="let episode of latestEpisodes"
      (playEvent)="playAudio($event)"
    ></pd-pod-card>

    <mat-tab-group>
      <mat-tab
        [label]="episode.shortTitle"
        *ngFor="let episode of latestEpisodes"
      >
        <pd-pod-card
          [episode]="episode"
          (playEvent)="playAudio($event)"
        ></pd-pod-card>
      </mat-tab>
    </mat-tab-group>
  </div>

  <h3>Todos os episódios</h3>
  <table mat-table [dataSource]="nextEpisodes" class="mat-elevation-z0">
    <ng-container matColumnDef="podcast">
      <th mat-header-cell *matHeaderCellDef>PODCAST</th>
      <td class="podcast" mat-cell *matCellDef="let element">
        <img
          class="thumbnail"
          [src]="element.thumbnail"
          alt="Thumbnail do Episódio"
        />
        <a class="link" [routerLink]="['episode', element.id]">{{
          element.shortTitle
        }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="members">
      <th fxHide.xs mat-header-cell *matHeaderCellDef>INTEGRANTES</th>
      <td fxHide.xs mat-cell *matCellDef="let element">
        {{ element.members }}
      </td>
    </ng-container>

    <ng-container matColumnDef="published_at">
      <th mat-header-cell *matHeaderCellDef>DATA</th>
      <td class="data" mat-cell *matCellDef="let element">
        {{ element.published_at | date: "d MMM YY" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>DURAÇÃO</th>
      <td mat-cell *matCellDef="let element">
        {{ element.file.duration * 1000 | date: "H:mm:ss":"UTC" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th class="action" mat-header-cell *matHeaderCellDef>TOCAR</th>
      <td mat-cell *matCellDef="let element">
        <button class="play-button" (click)="playAudio(element)">
          <img src="assets/icons/play-green.svg" alt="Play Button Icon" />
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
