@import "functions";
@import "variables";
@import "colors";
@import "mixins";
@import "media";

.home {
  margin-top: rem(48);
  padding: rem(0 64);

  @include mobile {
    margin-top: rem(24);
    padding: rem(0 32);
  }

  @include tiny-mobile {
    padding: rem(0 15);
  }

  &__last-pods {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(20);
    margin-bottom: rem(20);

    @media screen and (max-width: 1512px) {
      grid-template-columns: 1fr;
      row-gap: rem(20);
    }
  }

  table {
    background-color: $color-background;
    width: 100%;

    .link {
      &--mobile {
        @media screen and (max-width: 860px) {
          display: none;
        }
      }
      &--desktop {
        @media screen and (min-width: 861px) {
          display: none;
        }
      }
    }

    th {
      font-family: $font-secondary;
      color: $color-table-head;
      padding: rem(5 10 10 0);

      @include clamp(font-size, rem(10), 3vw, rem(12));
      @include clamp(line-height, rem(12), 3vw, rem(15));

      &:first-of-type {
        padding-left: 0;
      }

      &.action {
        @media screen and (max-width: 1050px) {
          color: transparent;
        }
      }
    }

    td {
      padding: rem(5 10 10 0);
      min-height: rem(53);
      font-family: $font-primary;
      color: $color-text-on-surface;

      @include clamp(font-size, rem(12), 3vw, rem(14));
      @include clamp(line-height, rem(15), 3vw, rem(17));

      &.data {
        min-width: rem(75);
      }

      &.podcast {
        display: flex;
        align-items: center;

        font-family: Lexend;
        font-weight: 600;
        font-size: rem(13);
        line-height: rem(20);

        a {
          color: $color-secondary-800;
          min-width: rem(100);

          &:hover {
            text-decoration: underline;
          }
        }

        img {
          @include size(60);
          border-radius: rem(8);
          object-fit: cover;
          margin-right: rem(10);

          @media screen and (max-width: 376px) {
            display: none;
          }
        }
      }
    }
  }

  .play-button {
    @include flex-center;
    @include size(32);
    background-color: #f7f8fa;
    border: rem(1) solid $color-secondary-100;
    border-radius: rem(10);
    transition: filter 0.2s;

    @media screen and (max-width: 1050px) {
      margin-left: 20%;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.hide-members {
  @media screen and (max-width: 700px) {
    display: none;
  }
}
