<div class="episode">
  <img
    class="episode__image"
    [src]="episode.thumbnail"
    alt="Episode Thumbnail"
  />
  <h1 class="episode__title">{{ episode.title }}</h1>
  <p>
    <span class="episode__members">{{ episode.members }}</span>
    <span class="episode__date">
      {{ episode.published_at | date: "d MMMM YY" }}</span
    >
    <span class="episode__duration">
      {{ episode.file.duration * 1000 | date: "H:mm:ss":"UTC" }}</span
    >
  </p>
  <mat-divider></mat-divider>
  <p class="episode__description">{{ episode?.description }}</p>
</div>
