@import "functions";
@import "variables";
@import "colors";
@import "mixins";

$thumb-size: rem(780);
$thumb-size-mobile: rem(300);

.episode {
  padding: rem(48);
  display: flex;
  flex-direction: column;

  &__members,
  &__date,
  &__duration {
    @include clamp(font-size, rem(12), 3vw, rem(16));
    @include clamp(line-height, rem(12), 3vw, rem(17));
    font-family: $font-primary;
    font-weight: 500;
    color: $color-text-on-surface;
  }

  &__description {
    color: #494d4b;
    font-family: $font-primary;
  }

  &__thumb {
    position: relative;
    display: flex;
    align-items: center;
    align-self: center;
    width: $thumb-size;

    @include medias($tiny-mobile, $mobile) {
      width: 100%;
      max-width: $thumb-size-mobile;
    }
  }

  &__back-button,
  &__play-button {
    position: absolute;
    @include flex-center;
    @include size(48);
    border-radius: rem(12);
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }

  &__back-button {
    left: 0;
    transform: translateX(-50%);
    background-color: $color-primary-500;
  }
  &__play-button {
    right: 0;
    transform: translateX(50%);
    background-color: $color-success;
  }

  &__image {
    width: $thumb-size;
    object-fit: cover;
    border-radius: rem(16);
    align-self: center;

    @include medias($tiny-mobile, $mobile) {
      width: 100%;
      max-width: $thumb-size-mobile;
    }
  }

  &__title {
    @include large-title;
    margin-top: rem(32);
    color: #494d4b;
  }

  &__members,
  &__date {
    display: inline-flex;
    align-items: center;
    &::after {
      content: "";
      margin: rem(0 8);
      display: inline-block;
      @include size(4);
      background-color: $color-secondary-500;
      border-radius: 50%;
    }
  }

  &__members {
    &::after {
      @include medias($tiny-mobile, $mobile) {
        display: none;
      }
    }
  }

  mat-divider {
    margin-bottom: rem(32);
  }
}
