@import "variables";
@import "mixins";
@import "colors";
@import "material";
@import "media";
@import "custom-theme";

@include reset-css;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, sans-serif;
}

body,
input,
textarea,
button {
  font: 500 1rem sans-serif;
  color: var(--gray-500);
}

button {
  cursor: pointer;
}

:root {
  --white: #fff;

  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;

  @each $name, $color in $project-colors {
    --color-#{$name}: #{$color};
  }
}

:root.dark-mode {
  @each $name, $color in $project-colors-theme-dark {
    --color-#{$name}: #{$color};
  }
}
