@import "variables";
@import "mixins";
@import "colors";
@import "media";

@include reset-css;

body,
input,
textarea,
button {
  font: 500 1rem sans-serif;
}

button {
  cursor: pointer;
}

html,
body {
  width: 100%;
  font-family: $font-primary;
  background-color: $color-background;
}

h1,
h2 {
  @include clamp(font-size, rem(15), 3vw, rem(24));
  @include clamp(line-height, rem(18), 3vw, rem(30));
  font-family: $font-secondary;
  font-weight: 600;
  margin: rem(0 0 16);
  color: $color-title-on-background;
}

:root {
  --white: #fff;

  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;

  @each $name, $color in $project-colors {
    --color-#{$name}: #{$color};
  }
}

:root.dark-mode {
  @each $name, $color in $project-colors-theme-dark {
    --color-#{$name}: #{$color};
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: $color-primary-300 $color-primary-800;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: $color-primary-800;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-primary-300;
  border-radius: 20px;
  border: 3px solid $color-primary-800;
}

*::-webkit-scrollbar-thumb:hover {
  border: 3px solid $color-primary-500;
}
