@import "variables";
@import "mixins";
@import "colors";
@import "media";

@include reset-css;

body,
input,
textarea,
button {
  font: 500 1rem sans-serif;
}

button {
  cursor: pointer;
}

h1,
h2 {
  @include clamp(font-size, rem(12), 3vw, rem(24));
  @include clamp(line-height, rem(18), 3vw, rem(30));
  font-family: $font-secondary;
  font-weight: 600;
  margin: rem(0 0 16);
  color: $color-title-on-background;
}

:root {
  --white: #fff;

  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;

  @each $name, $color in $project-colors {
    --color-#{$name}: #{$color};
  }
}

:root.dark-mode {
  @each $name, $color in $project-colors-theme-dark {
    --color-#{$name}: #{$color};
  }
}
